<div class="container mt-3">
	<h1>Home page</h1>

	<h2>Your total points is</h2>
	<% points = 0 %>
	<% if current_user.present? %>
		<% @transactions.each do |t| %>
			<% points += t.points %>
		<% end %>
		<h3><%= points %></h3>
	<% else %>
		<h3>0</h3>
	<% end %>
	

	<%= link_to "Add transaction", new_transaction_path %>
	<%= link_to "View transactions", transactions_path %>
</div>
